.header {
    display: flex;
    justify-content: space-between;
    color: black;
    box-shadow: 0px 0px 10px 0px gray;
    width: 100%;
    border-radius: 5px;
}
.logo {
    padding-left: 20px;
    height: 50px;
    width: 50px;
}
.nav-items > ul{
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.nav-items > ul > li {
    text-decoration: none;
    padding-left: 20px;
    list-style: none;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.res-card {
    width: 270px;
    padding: 20px;
    border-radius: 5px;
    font-size: 10px;
}

.res-card:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px 2px gray;
    transition: ease;
}

.card-image {
    width: 270px;
    border-radius: 5px;
    height: 200px;
}
.filter {
    margin: 10px 0 10px 0;
}

.filter-btn{
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: #fff;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shimmer-card{
    width: 270px;
    height: 350px;
    margin: 20px;
    border-radius: 5px;
    background-color: lightgray;
}

.login-btn {
    padding: 7px 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 3px;
}

.search{
    justify-content: center;
    display: flex;
}
.search-box {
    margin-top: 20px;
    padding: 10px;
    border-right: none;
}

.searchBtn {
    border-radius: 3px;
    padding: 0px 30px;
    background-color: black;
    color: white;
    margin-top: 20px;
}